<%= form_for post do |p| %>
  <div class="field">
    <%= p.label :title %>
    <%= p.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= p.label :body %>
    <%= p.text_area :body %>
  </div>
  <br>
  <div class="field">
    <%= p.label :author %>
    <%= p.text_field :author %>
  </div>
  <br>
  <div>
    <%= p.submit %>
  </div>
<% end %>
