<%= link_to "New", new_post_path() %>

<h1 class="display-4">Sparta Blogs</h1>
<br>
<% @posts.each do |post| %>
  <blockquote class="blockquote">
    <%= link_to "#{post.title}", post %>
  </blockquote>
  <cite><%= post.author %></cite>
  <br>
  <%= link_to "Edit", edit_post_path(post) %>
  <%= link_to "Delete", post, method: :delete %>
  <hr>
  <br>
<% end %>
