<h1>Cookbook</h1>

<h3>Welcome to my cookbook. Here are some fun recipes to try out</h3>

<div class="container">

<% @recipes.each do |recipe| %>
  <div class="recipe">
    <div class="recipe-image">
      <img src="<%= recipe[:img] %>?random=<%= recipe[:id] %>" alt="">
    </div>
    <div>
      <h3>
        <a href="/<%= recipe[:id] %>"> <%= recipe[:name] %></a>
      </h3>
    </div>
    <div>
      <p>
         <%= recipe[:description] %>
      </p>
    </div>
  </div>
<% end %>

</div>
