<%= form_for [@post,comment] do |c| %>
  <div class="field">
    <%= c.label :body %>
    <%= c.text_area :body %>
  </div>
  <br>
  <div class="field">
    <%= c.label :author %>
    <%= c.text_field :author %>
  </div>
  <br>
  <div>
    <%= c.submit %>
  </div>
  <br>
<% end %>
